<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pages-trunk-20080703_5</string>
	<string>pages-trunk-20080707_3</string>
	<string>pages-trunk-20080904_1</string>
	<string>local build-Jan  6 2011</string>
	<string>local build-Nov 17 2010</string>
	<string>local build-Jul  1 2011</string>
	<string>local build-Nov 17 2010</string>
	<string>local build-Jul  1 2011</string>
	<string>local build-Nov 15 2011</string>
	<string>local build-Oct 16 2012</string>
	<string>M5.1-1769-1</string>
	<string>M5.2-1860-1</string>
	<string>M5.5.3-2152-2</string>
	<string>M5.6-2553-2</string>
	<string>M5.6.1-2562-1</string>
	<string>M6.0.5-4052-1</string>
	<string>M12.2.1-7035.0.161-2</string>
	<string>M11.2-7032.0.145-2</string>
	<string>M12.2.1-7035.0.161-2</string>
	<string>G-r1220-12C161</string>
</array>
</plist>
